body {font-family: 'Roboto',
        sans-serif;
        color: #434455;
        background-color: #FFFFFF;
        
    }
    p {font-weight: 400;}
    ul {list-style-type: none;}

.visually-hidden {
    overflow: hidden;
}
    
/**===========HEDER==========**/
.header {}

.header-navigation {}

.header-logo {color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;}

.header-logo-black {color: #2E2F42;}

.header-list {}

.header-item {}

.header-navigation-link {
    font-family: inherit;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;}

    .header-navigation-link:hover, .header-navigation-link:focus {color:#404BBF;}

.header-address {font-style: normal;}
.header-address-list {}

.header-address-link {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;}

.header-address-link:hover, .header-address-link:focus {color:#404BBF;
    }

/**================================**/
/**===========sec-btn==========**/
.section-button {background-color: #2E2F42;}

.section-button-title {
    color: #FFFFFF;
    background-color: #2E2F42;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center}

    .btn {color: #FFF;
        background-color: #4D5AE5;
        font-family: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;}

        .btn:hover, .btn:focus {color: #FFF;
        background-color: #404BBF;}

/**================================**/

/**===========sec-principles==========**/
.section-principles {background: #FFF;}

.section-title {color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.principles-list {}

.principles-item {}

.principles-subtitle {color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}

.principles-text {color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}
/**================================**/

/**===========sec-team==========**/
.section-team {background-color: #F4F4FD;}

.team-title {}

.team-list {background-color: #FFFFFF;}

.team-item {background-color: #FFFFFF;}

.team-img {background: #FFFFFF}

.team-subtitle {color: #2E2F42;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}

.team-text {color: #434455;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}
/**================================**/

/**===========sec-portfolio==========**/
.section-portfolio {background-color: #FFF;}

.portfolio-title {}

.portfolio-list {}

.portfolio-item {}

.pornfolio-img {}

.portfolio-subtitle {color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}

.portfolio-text {color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}
/**================================**/

/**===========sec-footer==========**/
.footer {background-color: #2E2F42;}

.footer-logo {color: #4D5AE5;;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;}

    .footer-logo-black {color: #F4F4FD}

.footer-text {color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}  
/**================================**/










